
body {
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif;
}
a {
  color: #ffffff;
  text-decoration: none;
}

h2 {
  font-size: 22px;
}
header {
  background-color: #6c757d;
  text-align: center;
  height: 60px;
}
.wrapper-logo-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: -40px;
}
.icon-torso:before {
  color: green;
  font-size: 2rem;
}
nav ul {
  margin: 0px;
  display: flex;

  /**par defaut dejà row**/
  flex-direction: row;

  /**futurs els menus iront à la ligne automatiquement**/
  flex-wrap: wrap;

  justify-content: center;
  align-items: flex-start;
}

li {
  padding: 10px;
}

/** ul{
  padding : 10 O 1O O; 
}
**/

ul li button {
  /** background-color: ; **/
  height: 30px;
}
.btng {
  background-color: #767d85;
  color: #ffffff;
  border-radius: 5px;
}
.btng:hover{
  background-color:rgb(58, 57, 56);
  border:rgb(58, 57, 56);
  cursor: pointer;
}
main {
  width: 90%;
  margin-bottom: 10px;
  padding: 5% 5% 5% 5%;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-around;
  align-content: center;
}

main section {
  flex-basis: 20%;
  padding-left: 10px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

article {
  background-color: #6c757d;
  color: #ffffff;
  font-size: 20px;
  height: 200px;
  border-radius: 5px;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
}
.icon-left-circle{
  float: left;
}
.icon-right-circle{
  float: right;
}
.icon-cog{
  float: inline-end;
}

article button {
  background-color: #eec40b;
  border: 2px solid #eec40b;
  border-radius: 5px;
}
.btn-answer:hover{
  background-color: #b99803;
  border: 4px solid #b99803;
  border-radius: 5px;
}
.btnv {
  background-color: rgb(25, 190, 10);
  color: #ffffff;
  width: 24px;
  height: 28px;
  border-radius: 5px;
  margin-right: 10px;
}
.btnv:hover {
  background-color: rgb(4, 32, 1);
  color: #ffffff;
  width: 24px;
  height: 28px;
  border-radius: 5px;
  margin-right: 10px;
}

.btn {
  text-align: center;
}

footer {
  background-color: #8b9399;
  color: #ffffff;
  overflow: auto;
}
.pied{
  margin-bottom: 10px;
}
footer h3 {
  text-align: center;
  margin: 20px 0;

}
footer h3 a:hover {
  color: #0c0d0f;
 
}

footer nav ul li:hover {
  background-color: #fff;
  border-radius: 8px;
  opacity: 0.5;
  color: #121414;
}

address h3 {
  text-align: center;
}
address h3 a{
  color: darkblue;
}

.over :hover {
  text-decoration: underline;
  color: rgb(79, 79, 107);
}
/**footer{
  background-color: #8b9399;
  color: #ffffff;
  height: 150px;
  padding-bottom: 7Opx ;
  margin-bottom: 0px;
}
footer div{
  text-align: center;
 
 
}
footer div a :hover{
  color: #858a91;
}
footer nav ul {
  margin-bottom: 7Opx ;

}
footer nav ul li :hover{
  background-color: #fff;
  color: #6C757D;
}

address{
  text-align: center;
}
footer nav address span a{
  text-decoration: darkblue;
}
**/